:root {
  --nav-text: 'Roboto-Regular';
  --title-font: 'HelveticaNeueLTProLt';
  --subTitle-font: 'Merriweather-LightItalic';
  --main-font: 'Montserrat-Light';
  --main-color: black;
  --second-color: white;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 94px;
}

@media screen and (max-width: 820px) {
  body {
    padding: 0 10px;
  }
}
