@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTProLt';
  src: url('../fonts/HelveticaNeueLTProLt.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTProMd';
  src: url('../fonts/HelveticaNeueLTProMd.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTProRoman';
  src: url('../fonts/HelveticaNeueLTProRoman.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Merriweather-LightItalic';
  src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}